<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>mPOD </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/frontend/bundle.css">
    </head>
    <body>
        <div class="header">
            <div id="image"> <img src="public/Images/mPODLOGO.png" alt="mPOD Logo"></div>
            <h1 id="title"> mPOD Provisioning and Flashing Tracker </h1>
        </div>

        
        <!-- <table class="center">
            <thead>
            <tr>
                <% columns.forEach((coulmn) => { %>
                    <th> <%= coulmn %> </th>
                <% }) %>
            </tr>
            </thead>

            <tbody>
                <% rows.forEach((row) => { %>
                    <tr>
                        <% row.forEach((data) => { %>
                            <td> <%= data %> </td>
                        <% }) %>
                    </tr>
                <% }) %>
            </tbody>
       
          </table> -->
       

        <div class="limiter center">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        <table>
                            
                            <thead id="table_head">
                               <!-- <tr class="table100-head">
                                    <% columns.forEach((column) => { %>
                                        <th class="table100-head"> <%= column %> </th>
                                    <% }) %>
                                </tr> -->
                            </thead>
                            <tbody id="table_body">
                                <!-- <% rows.forEach((row) => { %>
                                    <tr>
                                    <% row.forEach((data, colIndex) => { %>

                                        <% if (colIndex === 4) { %>
                                        <td>
                                            <span class="<%= data == 'pass' ? 'num-green' : (data == 'fail' ? 'num-red' : '') %>">
                                            <%= data %>
                                            </span>
                                        </td>

                                        <% } else { %>
                                        <td><%= data %></td>
                                        <% } %>

                                    <% }) %>
                                    </tr>
                                <% }) %> -->
                            </tbody> 
                        </table>
                    </div>
                </div>
            </div>
        </div>



          <div class="center">
            <a href="../flashes.csv" download="keyled_flashes.csv">
                <button id="button-downloadCSV"> Download as CSV</button>
            </a>
         </div>
         
         
         <div id="log-modal">
            <div id="modal-content">
                <div id="modal-header">
                    <span id="modal-title"></span>
                    <span id="close-modal">&times;</span>
                </div>
                <div id="log-viewer"></div>
            </div>
        </div>

         <script src="public/frontend/bundle.js"> </script>
         
    </body>
</html>
