body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    display: block;
}

.border {
    border: 1px solid black;
}

.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.header {
    background-color:#36304a;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0,1);
    max-width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

/* BUTTON */  
.button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 500;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background-color: #36304a;
    color: ghostwhite;
  }
  .button:hover {
    border-color: #f4f5f2;
    background: #cccccc;
  }
  .button:active {
    transform: scale(0.98);
    box-shadow: 0 0.5em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
  }


/* TABLE */  
.limiter {
  width: 90%;
}

.container-table100 {
  margin-top: 50px;
  margin-right: 30px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}


.wrap-table100 {
  width: 1400px;
}

#table_head th {
  position: sticky;
  top: 0;
  background: #36304a;
  z-index: 10;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

#table_head th:first-child {
  border-top-left-radius: 8px;
}

#table_head th:last-child {
  border-top-right-radius: 8px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: visible;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 35px;
}


.table100-head th{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

/* Creates the alternating white and grey table entries */
tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

/* Creates the highlighting effect when hovering over table entry */
tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
} 

/* Coloring green or red */
.num-green {
    background-color: #4caf50; /* green */
    color: white;
    padding: 2px 10px;          /* adds some spacing around the number */
    border-radius: 4px;        /* optional rounded corners */
}

.num-red {
    background-color: #f44336; /* red */
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
}